name: カテゴリなしのpostをvalidate

on:
  workflow_dispatch:
  schedule:
    # UTCの03:00はJSTだと12:00
    - cron: '0 3 * * *'

jobs:
  title_validation:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
    - uses: actions/setup-node@a0853c24544627f65ddf259abe73b1d18a591444 # v5.0.0
      with:
        node-version: '24'
    - run: npm install
    - name: カテゴリが付いているかvalidation
      env:
        ESA_TEAM_NAME: ${{ secrets.ESA_TEAM_NAME }}
        ESA_ACCESS_TOKEN: ${{ secrets.ESA_ACCESS_TOKEN }}
        SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
      run: npx ts-node src/category_validator.ts
