name: 日報のタイトルのvalidation

on:
  workflow_dispatch:
  schedule:
    # UTCの02:00はJSTだと11:00
    - cron: '0 2 * * *'

jobs:
  title_validation:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
    - uses: actions/setup-node@a0853c24544627f65ddf259abe73b1d18a591444 # v5.0.0
      with:
        node-version: '24'
    - run: npm install
    - name: タイトルのvalidation
      env:
        ESA_TEAM_NAME: ${{ secrets.ESA_TEAM_NAME }}
        ESA_ACCESS_TOKEN: ${{ secrets.ESA_ACCESS_TOKEN }}
        SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
      run: npx ts-node src/daily_report_title_validator.ts
