name: 日報のタイトルのvalidation

on:
  workflow_dispatch:
  schedule:
    # UTCの02:00はJSTだと11:00
    - cron: '0 2 * * *'

jobs:
  title_validation:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - uses: actions/setup-node@v4
      with:
        node-version: '20'
    - run: npm install
    - name: タイトルのvalidation
      env:
        ESA_TEAM_NAME: ${{ secrets.ESA_TEAM_NAME }}
        ESA_ACCESS_TOKEN: ${{ secrets.ESA_ACCESS_TOKEN }}
        SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
      run: npx ts-node src/daily_report_title_validator.ts
